Repository yamat47/playmaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{json,css,md}": ["prettier --write"]
}

refactor(browser): パネルのテキストと色の入力を作る処理を 1 つにする
  library/src/browser/ui/property-panel.ts
  library/src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

refactor(common): キーの大文字と小文字を 1 か所でそろえる
  library/src/common/input/keymap.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(browser): パネルの行の見出しだけに余白の規則を当てる
  library/src/browser/ui/property-panel.ts
  library/src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): T13b を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

refactor: canvas を専用の要素に入れる
  library/src/playmaker.ts
  library/src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

fix(browser): ツールバーとパネルがフィールドを隠さないようにする
  library/src/styles.css
Due: prettier --write

fix(browser): 最後の 1 手を戻したあとも、キーボードのショートカットが効くようにする
  library/src/browser/ui/toolbar.ts
  library/src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

feat(common): 件数の上限であと何を置けるかを、表示状態に含める
  library/src/common/editing/editor-controller.test.ts
  library/src/common/editing/editor-controller.ts
  library/src/common/editing/editor-notifier.test.ts
  library/src/common/editing/editor-notifier.ts
  library/src/common/editing/editor.test.ts
  library/src/common/editing/editor.ts
  library/src/common/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(browser): 件数の上限に達したら、置けない操作を押せなくする
  library/src/browser/ui/toolbar.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: edit モードでツールバーとパネルを図の周りに置くことを書く
  README.md
Due: prettier --write

refactor(common): 件数の上限で操作を止める判定を、表示状態と同じものにする
  library/src/common/editing/editor-controller.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(browser): ツールバーの無効表示と grid の配置の書き方をそろえる
  library/src/browser/ui/toolbar.ts
  library/src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

fix(browser): フォーメーションの選択肢に、一部だけ読み込めない理由を示す
  library/src/browser/ui/toolbar.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): T13c を閉じ、T13 を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

refactor: Playmaker が内部の基底クラスを継承しないようにする
  library/src/common/index.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(common): 編集の確定を、コールバックではなく購読で受け取る
  library/src/common/editing/play-session.test.ts
  library/src/common/editing/play-session.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: フォーメーションを読み込めたかを返す
  library/src/common/editing/editor-controller.test.ts
  library/src/common/editing/editor-controller.ts
  library/src/common/editing/editor.ts
  library/src/common/editing/play-session.test.ts
  library/src/common/editing/play-session.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

perf: 構築したときに、同じ図を何度も描かない
  library/src/browser/rendering/canvas-surface.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: 構築したあとに view と edit を切り替えられるようにする
  .claude/rules/architecture.md
  library/src/browser/input/pointer-input.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: 構築したあとでも、編集の確定を購読できるようにする
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: dispose したあとの呼び出しを、例外を投げずに無視する
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor: 編集 UI を組み立てる処理と、図を描く処理を分ける
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(demo): モードの切り替えと JSON の読み込みを、新しい公開 API で行う
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: 公開オプションの省略できる項目に、undefined を渡せるようにする
  library/src/common/export/image-export.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: 永続化した値の読み込みと、型付きで組み立てた図の読み込みを分ける
  library/src/common/index.ts
  library/src/common/model/play-data.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: テーマの変数を変えたあとに描き直す手段と、ゾーンの一覧を公開する
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: README の公開 API を、購読、モードの切替、2 通りの読み込みに合わせる
  README.md
Due: prettier --write

fix(browser): 編集 UI を作り直しても、キーボードのショートカットが効くようにする
  library/src/browser/index.ts
  library/src/browser/ui/focus.ts
  library/src/browser/ui/property-panel.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(common): まとめて通知する処理の戻り値を、そのまま返せるようにする
  library/src/common/editing/editor-controller.ts
  library/src/common/editing/editor-notifier.test.ts
  library/src/common/editing/editor-notifier.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(common): 図を開き直す処理を 1 か所にまとめる
  library/src/common/editing/play-session.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): T14 を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

perf(browser): edit モードで構築したときも、図を 1 回だけ描く
  library/src/browser/rendering/canvas-surface.ts
  library/src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

build: cloud 版のセッションで Node と依存を入れるスクリプトを足す
  docker/cloud-session-setup.sh
Due: none

docs: cloud 版のセッションで make がどう動くかを書く
  CLAUDE.md
Due: prettier --write

docs(plans): T15 をテストの境界を置き直す方針で書き直し、T15-0 を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

build: cloud 版のセッションの開始時に、Node と依存を入れる
  .claude/settings.json
  docker/cloud-session-setup.sh
Due: prettier --write

build: プロジェクトのパスに空白があっても hook を呼べるようにする
  .claude/settings.json
Due: prettier --write

test: PlaySession のテストを機能ごとの仕様テストの置き場へ移す
  library/src/common/specs/change-subscription.test.ts
  library/src/common/specs/loading.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

test: 編集の仕様テストを、利用者の操作と観測だけで書けるようにする
  library/src/common/specs/change-subscription.test.ts
  library/src/common/specs/loading.test.ts
  library/src/test-support/fixtures.ts
  library/src/test-support/play-driver.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: テスト規約を、仕様テストと単体テストに分ける方針で書き直す
  .claude/agents/test-writer.md
  .claude/rules/architecture.md
  .claude/rules/testing.md
Due: prettier --write
