Repository yamat47/playmaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{json,css,md}": ["prettier --write"]
}

build: add husky and lint-staged for git hooks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(ui): redesign App layout for football play editor
  src/App.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(tools): implement multi-tool system for field editor
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(route): add minimum distance check for route points
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(route): add double-click to complete route drawing
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat(route): add line type selection for routes
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore(deps): update dependencies
  pnpm-lock.yaml
Due: none

feat: add GitHub Actions workflow and PR template
  .claude/commands/git/create-pr.md
  .github/pull_request_template.md
  .gitignore
Due: prettier --write

feat: enhance create-pr command with auto-generated English PR content
  .claude/commands/git/create-pr.md
Due: prettier --write

feat: add GitHub Actions CI workflow
  .github/workflows/ci.yml
Due: none

style: format code with Prettier to fix CI lint errors
  .claude/settings.local.json
  .devcontainer/devcontainer.json
  docs/prd.md
  postcss.config.js
  src/__tests__/App.test.tsx
  src/__tests__/components/Field.test.tsx
  src/__tests__/setup.ts
  src/components/Toolbar.tsx
  src/index.css
  src/main.tsx
  src/test/setup.ts
  src/vite-env.d.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.node.json
  vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: update tests to match current implementation
  src/__tests__/App.test.tsx
  src/__tests__/setup.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: update development guidelines with CI/CD info and testing requirements
  CLAUDE.md
Due: prettier --write

feat: improve route drawing UX with right sidebar controls
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update Claude configuration and PR template
  .claude/commands/git/create-pr.md
  .claude/settings.local.json
Due: prettier --write

refactor: remove route drawing tool button from sidebar
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test: remove route drawing tool button test
  src/__tests__/App.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs: add UI design guidelines and emphasize test updates
  CLAUDE.md
Due: prettier --write

feat: add player shape and color customization
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update Claude settings with git commit hooks
  .claude/settings.local.json
Due: prettier --write

feat: auto-switch to select tool after placing player
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add player labels and improve canvas rendering for high-DPI displays
  src/App.tsx
  src/__tests__/setup.ts
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: update field design to use white background with gray lines
  src/App.tsx
  src/__tests__/components/Field.test.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add responsive field component with dynamic resizing
  src/App.tsx
  src/__tests__/setup.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: enhance player and line selection visual feedback
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add line selection and branching route functionality
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add line segment type editing functionality
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: improve git commit command with better messaging
  .claude/commands/git/commit.md
Due: prettier --write

feat: enhance create-pr command with template support
  .claude/commands/git/create-pr.md
Due: prettier --write

feat: add commits command and kiro commands
  .claude/commands/git/commits.md
  .claude/commands/kiro/design.md
  .claude/commands/kiro/requirements.md
  .claude/commands/kiro/spec.md
  .claude/commands/kiro/tasks.md
Due: prettier --write

chore: apply Prettier formatting to kiro command files
  .claude/commands/kiro/design.md
  .claude/commands/kiro/requirements.md
  .claude/commands/kiro/spec.md
  .claude/commands/kiro/tasks.md
Due: prettier --write

refactor: remove eraser tool and add delete buttons to property panel
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

test: update App test to reflect eraser tool removal
  src/__tests__/App.test.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: complete removal of eraser tool and add delete buttons
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add Node.js version specification
  .node-version
Due: none

docs: add critical code review document
  docs/code-review.md
Due: prettier --write

docs: add detailed refactoring implementation plan
  docs/refactoring-plan.md
Due: prettier --write

chore: update Node.js version to 24
  .devcontainer/Dockerfile
  .node-version
  package.json
Due: prettier --write

chore: update Claude settings to allow node commands
  .claude/settings.local.json
Due: prettier --write

refactor: 型定義を独立したファイルに抽出
  src/types/index.ts
Due: prettier --write, eslint --fix --max-warnings 0
