Repository yamat47/playmaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

refactor: 線を差し込む位置を範囲に丸める処理を消す
  library/src/common/model/play-model.test.ts
  library/src/common/model/play-model.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): T15-9 を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

test: Playmaker の結線を Chromium で確かめるブラウザテストを足す
  .claude/rules/testing.md
  CLAUDE.md
  Makefile
  README.md
  library/package.json
  library/pnpm-lock.yaml
  library/src/playmaker.browser.test.ts
  library/tsconfig.browser-test.json
  library/tsconfig.json
  library/tsconfig.test.json
  library/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

ci: ブラウザテストを verify と並べて動かす
  .github/workflows/ci.yml
Due: none

docs(plans): T15c を閉じ、T15 を完了にする
  docs/plans/overhaul-backlog.md
Due: prettier --write

build(docker): 開発環境で make test-browser を動かせるようにする
  CLAUDE.md
  docker/Dockerfile
  docker/cloud-session-setup.sh
Due: prettier --write

build: cloud 版のセッションでもブラウザテストを動かせるようにする
  docker/cloud-session-setup.sh
Due: none

build(docker): 開発用イメージにブラウザテストの Chromium を入れる
  docker/Dockerfile
Due: none

docs(plans): T15c を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

test: Playmaker の結線を Chromium で確かめるブラウザテストを足す
  .gitignore
  Makefile
  library/package.json
  library/pnpm-lock.yaml
  library/src/specs/editing.test.ts
  library/src/specs/loading.test.ts
  library/src/specs/mounting.test.ts
  library/src/test-support/dom/mount-playmaker.ts
  library/tsconfig.browser-test.json
  library/tsconfig.json
  library/tsconfig.test.json
  library/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: ブラウザテストの置き場と動かし方を規約に書く
  .claude/rules/testing.md
  CLAUDE.md
Due: prettier --write

ci: ブラウザテストを別のジョブで動かす
  .github/workflows/ci.yml
Due: none

docs(plans): T15 を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

docs: 線の種別と補間の JSDoc を描き方に合わせる
  library/src/common/model/line.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(model): 図のデータと正規化のコメントを、今の振る舞いを述べる文にする
  library/src/common/model/id-factory.ts
  library/src/common/model/line.ts
  library/src/common/model/migration.ts
  library/src/common/model/play-data.ts
  library/src/common/model/play-model.ts
  library/src/common/model/player.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: 座標、当たり判定、プリセットのコメントを、今の振る舞いを述べる文にする
  library/src/common/export/image-export.ts
  library/src/common/formations/formation.ts
  library/src/common/formations/presets.ts
  library/src/common/geometry/bezier.ts
  library/src/common/geometry/field.ts
  library/src/common/geometry/hit-test.ts
  library/src/common/geometry/polyline.ts
  library/src/common/plays/play-preset.ts
  library/src/common/plays/presets.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: フィールドのラインの太さの説明を、描いている太さに合わせる
  library/src/browser/rendering/field-renderer.ts
  library/src/common/design/metrics.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: イベント、解放、編集のコメントを、今の振る舞いを述べる文にする
  library/src/common/base/event.ts
  library/src/common/base/lifecycle.ts
  library/src/common/commands/command-service.ts
  library/src/common/editing/interaction.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(browser): 描画と入力のコメントを、今の振る舞いを述べる文にする
  library/src/browser/input/pointer-input.ts
  library/src/browser/rendering/canvas-surface.ts
  library/src/browser/rendering/line-renderer.ts
  library/src/browser/rendering/player-renderer.ts
  library/src/browser/ui/toolbar.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(test): 読む人のいないカバレッジの json-summary を出さない
  library/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: 公開 API と設定のコメントを、今の振る舞いを述べる文にする
  library/scripts/generate-field-font.mjs
  library/src/playmaker.ts
  library/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: テストとモデルに残った略記と生成文めいた言い回しを直す
  library/src/browser/rendering/layer.ts
  library/src/common/formations/formation.test.ts
  library/src/common/formations/presets.ts
  library/src/common/geometry/bezier.test.ts
  library/src/common/geometry/hit-test.test.ts
  library/src/common/model/line.test.ts
  library/src/common/model/line.ts
  library/src/common/model/play-data.test.ts
  library/src/common/model/play-data.ts
  library/src/common/model/play-model.test.ts
  library/src/common/model/play-model.ts
  library/src/common/model/player.ts
  library/src/common/presets/shared.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): T16 を閉じる
  docs/plans/implementation-roadmap.md
  docs/plans/overhaul-backlog.md
Due: prettier --write

docs: 同じことを何か所にも書いたコメントを 1 か所にする
  library/src/browser/rendering/field-renderer.ts
  library/src/browser/rendering/line-renderer.ts
  library/src/browser/rendering/player-renderer.ts
  library/src/common/base/lifecycle.ts
  library/src/common/design/metrics.ts
  library/src/common/formations/presets.ts
  library/src/common/geometry/field.ts
  library/src/common/model/line.ts
  library/src/common/model/play-data.ts
  library/src/common/model/player.ts
  library/src/common/plays/presets.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(model): 太さの既定と IPlayModel の約束の書き方をそろえる
  library/src/common/model/line.ts
  library/src/common/model/play-model.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): T16 でテスト名も直したことを書き足す
  docs/plans/overhaul-backlog.md
Due: prettier --write

test: PRD の章番号と＝の略記が残ったテスト名を文にする
  library/src/common/geometry/hit-test.test.ts
  library/src/common/model/migration.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(demo): 今のゾーンのまま図を差し替える処理を 1 つにまとめる
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(demo): 要素とエラーの型を as ではなく instanceof で確かめる
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(demo): フォーメーションを押すと今の図に選手を足す
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(demo): 利用者と同じく playmaker/styles.css を別に読む
  library/demo/main.ts
  library/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(demo): 件数、PRD の章番号、区切り見出しを持つコメントを直す
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(demo): 密度ストレスの件数を fixture の配列から表示する
  library/demo/index.html
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor(demo): 強調の解除を setActive(null) にまとめ、ゾーンは fieldZone から渡す
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(demo): プリセットの行を組み立てる関数のコメントを文にする
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(demo): 上限でフォーメーションを置けなかったときは、表示中の図の名前と強調を変えない
  library/demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): T17 を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

docs: 今の設計を docs/design.md にまとめ、参照先を差し替える
  .claude/rules/architecture.md
  .claude/rules/workflow.md
  CLAUDE.md
  README.md
  docs/design.md
  library/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(readme): 公開している型と値を一覧にし、プリセットの取り出し方を書く
  README.md
Due: prettier --write

docs(prd): 選手、線、テーマの要件を今の振る舞いに合わせる
  docs/prd.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
