Repository yamat47/playmaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

refactor: コンポーネントを新しい型定義ファイルを使用するように更新
  src/App.tsx
  src/components/Field.tsx
Due: prettier --write, eslint --fix --max-warnings 0

docs: リファクタリング実装ルールとClaude設定を更新
  .claude/settings.local.json
  CLAUDE.md
Due: prettier --write

chore: pnpm workspaceの設定ファイルを追加
  pnpm-workspace.yaml
Due: none

feat: Zustandストアの導入による状態管理の実装
  src/stores/editorStore.ts
Due: prettier --write, eslint --fix --max-warnings 0

test: Zustandストアの単体テストを追加
  src/stores/__tests__/editorStore.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor: App.tsxをZustandストアに接続
  src/App.tsx
Due: prettier --write, eslint --fix --max-warnings 0

tmp
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/__tests__/Debug.test.tsx
  src/__tests__/PropertyPanel.test.tsx
  src/__tests__/SimpleFix.test.tsx
  src/__tests__/ZustandIntegration.test.tsx
  src/components/Field.tsx
  src/stores/editorStore.ts
Due: prettier --write, eslint --fix --max-warnings 0

restart
  .claude/commands/kiro/design.md
  .claude/commands/kiro/requirements.md
  .claude/commands/kiro/spec.md
  .claude/commands/kiro/tasks.md
  .claude/settings.local.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .eslintrc.cjs
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .node-version
  .prettierrc.json
  CLAUDE.md
  docs/code-review.md
  docs/refactoring-plan.md
  index.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.js
  src/App.tsx
  src/__tests__/App.test.tsx
  src/__tests__/components/Field.test.tsx
  src/__tests__/setup.ts
  src/components/Field.tsx
  src/components/Toolbar.tsx
  src/index.css
  src/main.tsx
  src/test/setup.ts
  src/types/index.ts
  src/vite-env.d.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: PRテンプレートを追加
  .github/pull_request_template.md
Due: prettier --write

docs: PRDをnpmパッケージ配布とRails統合に対応するよう更新
  docs/prd.md
Due: prettier --write

chore: 開発環境の設定ファイルを追加
  .gitignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: ライブラリのソースコードを追加
  src/Playmaker.tsx
  src/index.tsx
  src/store/usePlayStore.ts
  src/styles/index.css
  src/test/setup.ts
  src/types/index.test.ts
  src/types/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: デモアプリケーションを追加
  demo/index.html
  demo/src/main.ts
  demo/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: READMEを追加
  README.md
Due: prettier --write

chore: PRテンプレートの末尾改行を修正
  .github/pull_request_template.md
Due: prettier --write

chore: husky と lint-staged をセットアップ
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: CLAUDE.md を追加
  CLAUDE.md
Due: prettier --write

Initialize.
  .claude/agents/db-schema.md
  .claude/agents/e2e-playwright.md
  .claude/agents/local-ci-runner.md
  .claude/agents/security-reviewer.md
  .claude/agents/test-writer.md
  .claude/commands/git/commit.md
  .claude/commands/git/commits.md
  .claude/commands/git/create-pr.md
  .claude/rules/rails-patterns.md
  .claude/rules/testing.md
  .claude/settings.json
  .claude/skills/code-review/SKILL.md
  .claude/skills/create-pr/SKILL.md
  .claude/skills/dhh-rails-patterns/SKILL.md
  .claude/skills/fix-issue/SKILL.md
  .claude/skills/grill-me/SKILL.md
  .claude/skills/new-component/SKILL.md
  .claude/skills/skill-creator/LICENSE.txt
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/agents/analyzer.md
  .claude/skills/skill-creator/agents/comparator.md
  .claude/skills/skill-creator/agents/grader.md
  .claude/skills/skill-creator/assets/eval_review.html
  .claude/skills/skill-creator/eval-viewer/generate_review.py
  .claude/skills/skill-creator/eval-viewer/viewer.html
  .claude/skills/skill-creator/references/schemas.md
  .claude/skills/skill-creator/scripts/__init__.py
  .claude/skills/skill-creator/scripts/aggregate_benchmark.py
  .claude/skills/skill-creator/scripts/generate_report.py
  .claude/skills/skill-creator/scripts/improve_description.py
  .claude/skills/skill-creator/scripts/package_skill.py
  .claude/skills/skill-creator/scripts/quick_validate.py
  .claude/skills/skill-creator/scripts/run_eval.py
  .claude/skills/skill-creator/scripts/run_loop.py
  .claude/skills/skill-creator/scripts/utils.py
  .claude/skills/spec-issue/SKILL.md
  .github/pull_request_template.md
  .gitignore
  docs/plans/docs-prd-md-grill-me-refactored-nebula.md
  docs/prd.md
Due: prettier --write

feat: プロジェクト足場と common/browser レイヤ骨格を構築
  biome.json
  package.json
  pnpm-lock.yaml
  src/browser/index.ts
  src/browser/rendering/canvas-surface.ts
  src/common/event/emitter.test.ts
  src/common/event/emitter.ts
  src/common/index.ts
  src/common/lifecycle/disposable.test.ts
  src/common/lifecycle/disposable.ts
  src/playmaker.ts
  src/styles.css
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: 実装ロードマップを追加し旧 grill-me プランを削除
  docs/plans/docs-prd-md-grill-me-refactored-nebula.md
  docs/plans/implementation-roadmap.md
Due: prettier --write

chore: ローカル確認用 Vite playground を追加
  demo/index.html
  demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: .claude 設定を Rails 前提から JS ライブラリ向けに置換
  .claude/agents/db-schema.md
  .claude/agents/e2e-playwright.md
  .claude/agents/local-ci-runner.md
  .claude/agents/security-reviewer.md
  .claude/agents/test-writer.md
  .claude/rules/architecture.md
  .claude/rules/rails-patterns.md
  .claude/rules/testing.md
  .claude/settings.json
  .claude/skills/code-review/SKILL.md
  .claude/skills/create-pr/SKILL.md
  .claude/skills/dhh-rails-patterns/SKILL.md
  .claude/skills/fix-issue/SKILL.md
  .claude/skills/new-component/SKILL.md
Due: prettier --write

ci: GitHub Actions で typecheck/lint/test/build を自動実行
  .github/workflows/ci.yml
Due: none

ci: pnpm の esbuild ビルドスクリプトを承認し CI install 失敗を解消
  pnpm-workspace.yaml
Due: none

chore(deps): devDependencies を最新メジャーへ更新
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

ci: CI の Node を 25 に更新しアクションを Node24 ランタイムへ
  .github/workflows/ci.yml
Due: none

ci: Dependabot による依存自動更新を導入する
  .github/dependabot.yml
Due: none

feat(common): フィールド座標系と PlayData v1 を実装する
  src/common/geometry/field.test.ts
  src/common/geometry/field.ts
  src/common/index.ts
  src/common/model/play-data.test.ts
  src/common/model/play-data.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(browser): フィールド描画レンダラと Canvas 結線を実装する
  src/browser/index.ts
  src/browser/rendering/canvas-surface.ts
  src/browser/rendering/field-renderer.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(playmaker): ゾーン切替の公開 API を追加する
  src/playmaker.ts
  src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

feat(demo): playground にゾーン切替 UI を追加する
  demo/index.html
  demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): M1 のフィールド座標確定と描画磨きの繰延を記録する
  docs/plans/implementation-roadmap.md
Due: prettier --write

feat(common): 選手モデルと hit-test・座標逆変換を実装する
  src/common/geometry/field.test.ts
  src/common/geometry/field.ts
  src/common/geometry/hit-test.test.ts
  src/common/geometry/hit-test.ts
  src/common/index.ts
  src/common/model/play-data.test.ts
  src/common/model/play-data.ts
  src/common/model/player.test.ts
  src/common/model/player.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(browser): 選手レンダラと Canvas 合成描画を実装する
  src/browser/index.ts
  src/browser/rendering/canvas-surface.ts
  src/browser/rendering/player-renderer.ts
  src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

feat(playmaker): PlayData 投入 API を追加する
  src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(demo): playground に選手サンプル投入 UI を追加する
  demo/index.html
  demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): M2 の選手形状と hit-test 近似の決定を記録する
  docs/plans/implementation-roadmap.md
Due: prettier --write

chore: .tmp/ を Git 管理から除外する
  .gitignore
Due: none

feat(common): 線モデル・ベジェ・hit-test を実装する
  src/common/geometry/bezier.test.ts
  src/common/geometry/bezier.ts
  src/common/geometry/hit-test.test.ts
  src/common/geometry/hit-test.ts
  src/common/index.ts
  src/common/model/line.test.ts
  src/common/model/line.ts
  src/common/model/play-data.test.ts
  src/common/model/play-data.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(browser): 線レンダラと Canvas 合成描画を実装する
  src/browser/index.ts
  src/browser/rendering/canvas-surface.ts
  src/browser/rendering/line-renderer.ts
  src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
