Repository yamat47/playmaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{json,css,md}": ["prettier --write"]
}

chore(deps): 依存・pnpm を最新へ一括更新する
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

ci: actions/checkout を v7・Node を 26 へ更新する
  .github/workflows/ci.yml
Due: none

docs(plans): 依存・Node 一括最新化プランを残す
  docs/plans/https-github-com-yamat47-playmaker-pulls-distributed-cocke.md
Due: prettier --write

feat(common): 描画寸法トークンとリーグ別ハッシュ位置を追加する
  src/common/design/metrics.test.ts
  src/common/design/metrics.ts
  src/common/geometry/field.test.ts
  src/common/geometry/field.ts
  src/common/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(formations): プリセットを2形状語彙とくすませた攻守色へ刷新する
  src/common/formations/presets.test.ts
  src/common/formations/presets.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(browser): フィールド描画とプレー記法をNCAA仕様へ刷新する
  src/browser/rendering/canvas-surface.ts
  src/browser/rendering/field-renderer.ts
  src/browser/rendering/line-renderer.ts
  src/browser/rendering/player-renderer.ts
  src/browser/ui/property-panel.ts
  src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

chore(demo): 目視fixtureを2形状語彙と新配色へ合わせる
  demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(field): レッドゾーン窓を25ヤードラインから描画し数字の見切れを防ぐ
  src/browser/rendering/canvas-surface.ts
  src/common/export/image-export.test.ts
  src/common/export/image-export.ts
  src/common/geometry/field.test.ts
  src/common/geometry/field.ts
  src/common/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

build(field-font): Saira Condensed をサブセット化して同梱する
  assets/fonts/OFL.txt
  assets/fonts/SairaCondensed-Bold.ttf
  package.json
  pnpm-lock.yaml
  scripts/generate-field-font.mjs
  src/assets/playmaker-saira-subset.woff2
Due: prettier --write

refactor(lifecycle): Disposable に isDisposed を追加する
  src/common/lifecycle/disposable.test.ts
  src/common/lifecycle/disposable.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(field): フィールド文字を同梱フォントに固定し外部指定を禁止する
  src/browser/rendering/canvas-surface.ts
  src/browser/rendering/field-renderer.ts
  src/browser/rendering/player-renderer.ts
  src/common/design/field-font.ts
  src/common/index.ts
  src/styles.css
  vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(design): マーカー・矢じりの寸法トークンと配色を引き締める
  src/common/design/metrics.test.ts
  src/common/design/metrics.ts
  src/common/formations/presets.test.ts
  src/common/formations/presets.ts
  src/common/model/player.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(rendering): フラットなマーカーと整った矢じり・小型ハンドルを描く
  src/browser/rendering/canvas-surface.ts
  src/browser/rendering/line-renderer.ts
  src/browser/rendering/player-renderer.ts
Due: prettier --write, eslint --fix --max-warnings 0

style(theme): フィールド・選手・動線を低彩度パレットへ揃える
  demo/main.ts
  src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

feat(common): フォーメーション13・プレー図18のプリセットを追加
  src/common/formations/presets.test.ts
  src/common/formations/presets.ts
  src/common/index.ts
  src/common/plays/play-preset.ts
  src/common/plays/presets.test.ts
  src/common/plays/presets.ts
  src/playmaker.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(rendering): 円マーカーを多角形と同等の視覚サイズへ縮小
  src/browser/rendering/player-renderer.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(demo): プレー図デザイナーを Sideline Slate レイアウトへ刷新
  demo/index.html
  demo/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat(editing): 線の先端移動・作図確定の選択切替・線色パレットを整える
  src/browser/rendering/canvas-surface.ts
  src/browser/ui/property-panel.ts
  src/common/commands/line-commands.test.ts
  src/common/commands/line-commands.ts
  src/common/design/line-palette.ts
  src/common/editing/editor-controller.test.ts
  src/common/editing/editor-controller.ts
  src/common/index.ts
  src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

fix(rendering): 矢じり先端に丸いドットが残る不具合を直す
  src/browser/rendering/line-renderer.ts
  src/common/geometry/polyline.test.ts
  src/common/geometry/polyline.ts
  src/common/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(editing): 線選択時に線色へ選択色を上塗りしないようにする
  src/browser/rendering/canvas-surface.ts
  src/common/editing/editor-controller.test.ts
  src/common/editing/editor-controller.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore(claude): fix-issue と spec-issue の skill を削除する
  .claude/skills/fix-issue/SKILL.md
  .claude/skills/spec-issue/SKILL.md
Due: prettier --write

chore(claude): skill を github-toolkit から gh skill install で入れる
  .claude/agents/local-ci-runner.md
  .claude/commands/git/commit.md
  .claude/commands/git/commits.md
  .claude/commands/git/create-pr.md
  .claude/rules/testing.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/create-pr/SKILL.md
  .claude/skills/create-pr/references/commit-grouping.md
  .claude/skills/create-pr/references/self-review.md
  .claude/skills/frontend-design/LICENSE.txt
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/github-actions-workflows/SKILL.md
  .claude/skills/grill-me/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/review-pr/references/report-format.md
  .claude/skills/review-pr/references/routing.md
  .claude/skills/review-pr/references/structured-output.md
  .claude/skills/review-pr/references/verification.md
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/typescript-idioms/SKILL.md
  .claude/skills/writing-conventions/SKILL.md
  .claude/skills/writing-conventions/references/code-comments.md
  .claude/skills/writing-conventions/references/what-goes-where.md
  .claude/skills/writing-conventions/references/writing-style.md
Due: prettier --write

chore(claude): settings.json の許可を今の skill 構成に合わせて見直す
  .claude/settings.json
Due: prettier --write

ci: action を github-toolkit の wrapper に置き換えて @main で追いかける
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

chore(dev): Node と pnpm をホストに入れず Docker コンテナで開発する
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  docker/Dockerfile
  docker/Dockerfile.dockerignore
  docker/compose.yaml
  library/package.json
Due: prettier --write

chore(claude): Claude Code からも開発コマンドを make 経由で呼ぶ
  .claude/agents/test-writer.md
  .claude/hooks/block-host-node.sh
  .claude/rules/architecture.md
  .claude/rules/testing.md
  .claude/rules/workflow.md
  .claude/settings.json
  .claude/skills/run-demo/SKILL.md
  CLAUDE.md
Due: prettier --write

docs(readme): 利用側で prepare のビルドを許可する allowBuilds の書き方を足す
  README.md
Due: prettier --write

chore(claude): ホストでの pnpm や node の実行を hook ではなく deny で止める
  .claude/hooks/block-host-node.sh
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

chore(deps-dev): 開発用の依存を minor と patch の最新に上げる
  library/biome.json
  library/package.json
  library/pnpm-lock.yaml
Due: prettier --write

chore(deps-dev): TypeScript を 7 に上げ、dts の生成は 6 の API で続ける
  library/package.json
  library/pnpm-lock.yaml
  library/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): TypeScript 7 移行の回避策と外す条件を残す
  docs/plans/implementation-roadmap.md
Due: prettier --write

fix(model): 読み込んだデータの重複 id を振り直し、Model にも重複を入れない
  library/src/common/model/migration.test.ts
  library/src/common/model/play-data.test.ts
  library/src/common/model/play-data.ts
  library/src/common/model/play-model.test.ts
  library/src/common/model/play-model.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix(editing): Undo ボタンの遅れや見えない線など、編集中の不具合を止める
  library/src/common/editing/editor-controller.test.ts
  library/src/common/editing/editor-controller.ts
  library/src/common/geometry/field.test.ts
  library/src/common/geometry/field.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): 全体見直しの台帳を足し、T1 を閉じる
  docs/plans/overhaul-backlog.md
Due: prettier --write

fix(input): タッチや右クリックでドラッグが外れなくなるのを止め、ショートカットを UI 全体で受ける
  library/src/browser/input/pointer-input.ts
  library/src/playmaker.ts
  library/src/styles.css
Due: prettier --write, eslint --fix --max-warnings 0

docs(plans): T2 を閉じ、フォーカスが外れてショートカットが効かなくなる件を T13-7 に積む
  docs/plans/overhaul-backlog.md
Due: prettier --write

docs(claude): 規約から実在しない IF と未実装の API を消し、コメント規約を writing-conventions に寄せる
  .claude/agents/test-writer.md
  .claude/rules/architecture.md
  .claude/rules/comments.md
  .claude/rules/testing.md
  docs/plans/https-github-com-yamat47-playmaker-pulls-distributed-cocke.md
Due: prettier --write

chore(github): PR テンプレートを背景、やらなかったこと、見てほしいところの 3 節にする
  .github/pull_request_template.md
Due: prettier --write

docs(plans): 完了した計画を消し、docs/plans には実行中の計画だけを置く
  CLAUDE.md
  docs/plans/implementation-roadmap.md
  docs/plans/overhaul-backlog.md
Due: prettier --write
